.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 2em;
}

.nav a {
  color: white;
  text-decoration: none;
}

h1 {
  /* color: tomato; Set h1 color to tomato */
  text-align: center;
}

p {
  text-align: center;
}

h2 {
  text-align: center;
}

.image-container {
  text-align: center;
}

img {
  width: 200px;
  height: 150px;
  
}

h3 {
  text-align: center;
}


/* News Section Styles */

.news {
  margin-bottom: 20px;
}

.news-title {
  font-size: 1.5em; /* Increase title size */
  line-height: 1.2; /* Improves readability */
  margin-bottom: 10px; /* Add some space between title and content */
}

.news-content {
  text-align: justify; /* Aligns text within a block */
  line-height: 1.5; /* Improves readability */
  padding: 10px; /* Adds some padding around the content */

}

svg {
  /* Center horizontally */
  margin: 0 auto;
  display: block; /* Ensures the SVG behaves like a block-level element */
}

 


.price {
  /* Styles for the overall price container element */
  text-align: center; /* Centers content horizontally */
  padding: 20px;
}

.price h1,
.price h2 {
  /* Styles for headings */
  margin: 5px 0; /* Adds some spacing between headings */
}

.price h1 {
  font-size: 2em; /* Makes the symbol heading larger */
}
